/* basic reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins,
small, strike, strong, sub, sup, q, 
b, i, ol, ul, li,
fieldset, form, label, legend {
    margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font-style:normal; vertical-align: baseline; background: transparent;
}
em {
    font-style: italic;
}
ol, ul { list-style: none; }
nav li {
	display: inline-block;
	list-style-type: none;
}
blockquote, q { quotes: none; }

/* html5 for IE */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
:focus { outline: 0; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
.cf:before,
.cf:after {content:""; display:table;}
.cf:after {clear:both;}
.cf {zoom:1;}

