
.site-container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}



// Header 
// --------------------

.nav__list {
  padding: 0;
  margin-bottom: 0;
  text-align: center;
}

.nav__item {
  font-size: 1.2em;
  line-height: 80px;
  display: inline-block;
  padding: 0 1em;
  vertical-align: middle;  

  a {
    text-decoration: none;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
  }

  a:link,
  a:visited {
    color: #666;
  }

  a:hover,
  a:active {
    color: @bayernBlue;
  }
}

.nav__logo {

  padding-left: 2em;
  padding-right: 2em;

  a {
    display: block;
    height: 66px;
  }

  a:link,
  a:visited {
    color: @bayernBlue;
  }

  span {
    display: inline-block;
    text-indent: -9999px;
  }

}



// Footer 
// --------------------

.site-banner {
  background-color: @bayernBlue;

  // -webkit-font-smoothing: antialiased;
  
  background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), 
  linear-gradient(-45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
  background-size:60px 60px;  
  
  position: relative;
  margin: 0 0 2em 0;
}
.site-banner__copy {
  margin: 1em 0;
  padding: 2em 0;
  
  font: 100 2em/1.28em 'adelle-sans', sans-serif;
  color: #fff;
  text-align: center;  
}


// Footer 
// --------------------

.footer {

  background-color: @bayernBlue;
  font-size: .875em;
  line-height: 1.5em;
  color: #ececec;

  p {
    margin: 0 0 1em;
  }

  a {
    color: #fff;
  }

  .grid-container-fluid {
    max-width: 800px; // fit to Munich Skyline graphic
    padding: 0 0 2em 0;
  }

  &:before,
  &::before {
    display: block;
    height: 180px;
    background: @membersBg url('../images/munich-skyline.svg') no-repeat bottom center;
    content: '';
  }
}

.footer__headline {
  margin: 2em 0 0;
  font-size: 1.1em;
  text-transform: uppercase;
}

.footer__copyright {
  border-top: 1px solid #61B1E7;
  padding-top: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;

  .clearfix;

  p {
    width: 50%;
    float: left;
    margin: 0;
  }
}

.footer__legal-list {
  padding: 0;
  margin: 0;
  width: 50%;
  float: right;
  text-align: right;

  li {
    display: inline-block;
    width: 60px;    
  }

  a:link,
  a:visited {
    text-decoration: none;
  }

  a:hover,
  a:active {
    text-decoration: underline;
  }
}