.photos-container {
	max-width: 708px;
	margin-left: auto;
	margin-right: auto;
}

.photo-link { // <a>
	display: inline-block;
	.ie7-inline-block();
	margin: 1em .5em 0;
	padding: .5em .5em 0;

	// background-color: #fff;
	// border: 1px solid #eee;
	// .box-shadow(1px 1px 3px rgba(0,0,0,0.3));
}


