
// Loading indicator

.ui-loading {
	color: @bayernBlue;
	text-align: center;
	margin-left: -16px; // offset loading graphic below

	&:before,
	&::before {
		width: 16px;
		height: 11px;
    	background:url('../images/loading.gif');

    	content: '';
    	display: inline-block;
    	margin-right: .5em;
	}

	&:after,
	&::after {
		content: 'Loading';
	}
}


.refresh-icon {
	// border: 1px solid red;
	margin: 0;


	font-size: 81px;
	line-height: 1em;

	text-align: center;
	color: @bayernBlue;

}