@bodyBgColor: #f2f2f2;
@bayernBlue: #0098d4;
@smokeyGrey: #f8f8f8;
@mediumGrey: #999;
@lightGrey: #ccc;

/*
 * palette: Fresh Cut Day
 * http://www.colourlovers.com/palette/46688/fresh_cut_day
 */

@lightGreen: #AEE239;
@green: #8FBE00;
@teal: #00A8C6;
@lagoon: #40C0CB;


@serif: 'adelle','crete-rounded-web', Georgia, serif;
@sans-serif: 'ff-meta-web-pro','droid-sans', Helvetica, sans-serif;
