---
layout: default
title: Welcome
---

  <div role="banner" class="site-banner">
    <p role="banner" class="site-banner__headline">
      We are Refresh, a community of designers and developers,
      passionate about pixels and code. <br>
      The only way forward is together.
    </p>
  </div>


  {% assign meetup = site.posts.first %}
  {% if meetup.placeholder == false %}
    <a name="/meetups"></a>
    <section id="recent-event" class="section events grid-container-fluid">
      <div class="grid-row">

        <div class="event__next">

          <div class="cal__container">
            <ul class="cal__top">
              <li class="cal__ring"></li>
              <li class="cal__ring"></li>
              <li class="cal__ring"></li>
            </ul>
            <time datetime="2012-08-30T19:00">
              <span class="cal__date">{{ meetup.calendar_date }}</span>
              <span class="cal__month">{{ meetup.calendar_month }}</span>
            </time>
          </div>

          <div class="event__info vevent">
            <p class="event__headline summary">Next Meetup</p>
            <time datetime="" class="dtstart event__time" >
              <span class="value-title" title="">{{ meetup.time }}</span>
            </time>
            <time datetime="" class="dtend"></time>
            <section class="event__loaction location">
              <div class="event__venue">
                {{ meetup.venue.name }}<br>
                {{ meetup.venue.street }}<br>
                {{ meetup.venue.plz }}<br>
                {% if meetup.venue.url %}
                <a href="{{ meetup.venue.url }}" target="_blank">
                  {{ meetup.venue.url }}
                </a>
                {% endif %}
              </div>
            </section>

            <div class="event__description description">{{ meetup.description }}</div>
          </div>
        </div><!--/.event__info-->

      </div><!--/.grid-row-->
    </section><!-- /#recent-event -->
  {% endif %}


  <section id="meetups" class="section grid-container-fluid">
    <h1 class="section-title">What's a Stammtisch?</h1>
    <p class="section-subtitle">Our monthly meetup</p>

    <p class="constrain-width">We discuss upcoming conferences, the newest libraries, app ideas, dribbble favorites, etc. But we also just enjoy each other's company and are just as likely to be discussing the quality of the snow in the Alps, climbing techniques and the best Burgers in Munich.</p>

    <table class="about-table constrain-width">
      <tbody>
        <tr class="about-formula">
          <td><p data-icon="P" class="about-icon about-icon--people"><span>People</span></p></td>
          <td>+</td>
          <td><p data-icon="D" class="about-icon"><span>Dinner</span></p></td>
          <td>+</td>
          <td><p data-icon="B" class="about-icon"><span>Beer</span></p></td>
          <td>+</td>
          <td><p data-icon="T" class="about-icon"><span>Discussions</span></p></td>
          <td>=</td>
          <td><p data-icon="N" class="about-icon"><span>Forward</span></p></td>
        </tr>
        <tr class="about-formula-text">
          <td>Designers and developers</td>
          <td></td>
          <td>Dinner</td>
          <td></td>
          <td>Beer</td>
          <td></td>
          <td>Discussions</td>
          <td></td>
          <td>Moving forward</td>
        </tr>
      </tbody>
    </table>

    <p class="text-center"><a href="http://www.twitter.com/refreshmunich">Follow us on Twitter</a> to find out about the next meetup.</p>

      <div class="past-events is-hidden">
        <p class="section-subtitle">Past Meetups</p>

        <ul class="past-list">
          <li class="past">
            <time class="past-when" datetime="2012-06-28T19:00">
              <span class="past-month">Jun</span>
              <span class="past-date">28</span>
            </time>
            <p class="past-type">Stammtisch</p>
            <p class="past-location">Park Cafe</p>
          </li>
          <li class="past">
            <time class="past-when" datetime="2012-05-24T19:00">
              <span class="past-month">May</span>
              <span class="past-date">24</span>
            </time>
            <p class="past-type">Stammtisch</p>
            <p class="past-location">Augustiner Biergarten</p>
          </li>
          <li class="past">
            <time class="past-when" datetime="2012-04-19T19:00">
              <span class="past-month">Apr</span>
              <span class="past-date">19</span>
            </time>
            <p class="past-type">Stammtisch</p>
            <p class="past-location">Gaststätte Scheidegger</p>
          </li>
          <li class="past">
            <time class="past-when" datetime="2012-03-29T19:00">
              <span class="past-month">Mar</span>
              <span class="past-date">29</span>
            </time>
            <p class="past-type">Discussion</p>
            <p class="past-location">Taco Libre</p>
          </li>
          <li class="past">
            <time class="past-when" datetime="2012-03-15T19:00">
              <span class="past-month">Mar</span>
              <span class="past-date">15</span>
            </time>
            <p class="past-type">Stammtisch</p>
            <p class="past-location">Killians Irish Pub</p>
          </li>
          <li class="past">
            <time class="past-when" datetime="2012-07-12T19:00">
              <span class="past-month">Feb</span>
              <span class="past-date">16</span>
            </time>
            <p class="past-type">Stammtisch</p>
            <p class="past-location">Cafe Puck</p>
          </li>
        </ul>
      </div><!--/.past-events-->
  </section><!--/#meetups-->




  {% include about.html %}

  {% include photos.html %}

  {% include members.html %}

