
  <a name="/about"></a>
  <section id="about" class="section grid-container-fluid">

    <h1 class="section-title about__title">About Refresh</h1>
    <p class="section-subtitle">Designers and developers learning from each other</p>

    <div class="grid-row">
      <div class="about-photo grid-span6">
        <img class="about-image" src="assets/images/about.jpg" border="0" alt="Refresh">
      </div>
      <div class="about-copy grid-span6">
        <p>We're designers and developers, passionate about pixels and code. We embrace the rapid development of the web and are open to new ideas. We make things and break things because we can. We are inspired by passion, not profit.</p>
        <p>We also understand that we are co-dependent in today's web. We meet up to bridge the gap between our fields, so that we can share and learn from each other to bring the web forward.</p>

        <h3>Who is behind Refresh?</h3>
        <p>We are not a company, just people. We volunteer our time and energy to bring you Refresh, because we are looking for the same thing:</p>
        <p>In Fall 2011, <a href="http://www.twitter.com/dananeda">Dana</a>, <a href="http://www.twitter.com/eliaskg">Elias</a>, <a href="http://www.twitter.com/jng5">Julie</a> and <a href="http://www.twitter.com/sebslomski">Sebastian</a> met at conferences and user groups in Switzerland and Germany. We were looking for other people like us. Colleagues and friends said we needed to look in Berlin. We disagreed. And so Refresh was born.</p>
      </div>
    </div><!--/.grid-row-->
  </section><!--/#about-->