  <footer class="footer {{ page.footer_class }}">
    <div class="grid-container-fluid">
      <div class="grid-row">

        <div class="footer__col">
          <h3 class="footer__headline">Team</h3>
          <p>Refresh Munich is brought to you by Julie Ng and Elias Klughammer. With high fives from co-founders Sebastian and Dana from London. Made with &hearts; in Minga.</p>
        </div>

        <div class="footer__col">
          <h3 class="footer__headline">Colophon</h3>
          <p>Refresh is set in Adelle sans by <a href="http://www.type-together.com/" target="_blank">TypeTogether</a>. Fonts are served by <a href="http://www.typekit.com" target="_blank">Typekit.</a></p>
        </div>

        <div class="footer__col is-last">
          <h3 class="footer__headline">Fork us on Github</h3>
          <p>Easter eggs? Bugs? <a href="https://github.com/refreshmunich/website">Check out our source code on Github</a> and let us know.</p>
        </div>

      </div><!--/.grid-row-->

      <div class="grid-row">
        <div class="grid-span12 footer__last-row">
          <p class="footer__copyright">&copy; 2012-2013 Refresh Munich e.V.</p>
          <ul class="footer__legal">
            <li><a href="legal.html#impressum">Impressum</a></li>
            <li><a href="legal.html#privacy">Privacy</a></li>
            <li><a href="legal.html#contact">Contact</a></li>
          </ul>
        </div>
      </div><!--/.grid-row-->

    </div><!--/.grid-container-fluid-->
  </footer><!--/.footer-->
