@import '../config';


#manifesto {
  padding: 4em 0;

  background: @bayernBlue url("/i/grain.png");

  color: #fff;
}

#manifesto h1 {
  color: #fff;
}

#manifesto .logo {
  width: 100%;
}

#manifesto p {
  margin: 0;

  font: 200 1.5em/1.5em @serif;
}

#manifesto p em {
  color: #A7DBD8;
  font-style: normal;
}
