
@rtMargin: 2.127659574%;
@cardMargin: 12px;


.member__container {
    .clearfix;
    
    padding: 0;
    
    // border: 1px solid black;
    overflow: visible;
}

.member__description {
    font-size: .875em;
    line-height: 1.4em;
    margin: .5em 0;
}
  
.member__inner {
    height: 100%;
    overflow: hidden;

    // &:before {
    //     display: block;
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     bottom: 0;
    //     right: 0;
    //     background-image: -webkit-linear-gradient(top, rgba(255,255,255,0) 70%, #fff);
    //     content: '';
    // }
}


// Avatar/Photo
// ---------------------


.member__avatar {
    // border-radius: 100%;
    // box-shadow: inset 3px 3px 1px rgba(0, 0, 0, 0.5);
}
.member__avatar-link {
    display: inline-block;
    float: right;
    
    // border: 3px solid white;
    // border-radius: 100%;
    // box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.member__avatar-link,
.member__handle-link {
    font-weight: 400;
    text-decoration: none;
}

.member__avatar-link {
    margin-left: 1em; // pad profile pictures 
}

.member__name { 
    // padding-top: .5em; // push towards bottom egde of profile pics 
    line-height: 1.5em;
    margin: 0;
}

.member__handle-link:link,
.member__handle-link:visited {
    color: @mediumGrey;
}

.member__handle-link:hover,
.member__handle-link:active {
  color: rgb(0,168,198);
}


.unset-masonry() {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
}


.member__card {

    list-style-type: none;
    .box-sizing(border-box);

    float: left;
    margin: 0 @rtMargin 1em 0;
    padding: 1em;
    overflow: hidden;

    background-color: #fff;
    border-top: 1px solid #F0F0F0;
    border-left: 1px solid #F0F0F0;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.12);
}

.member__inner {
    // background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 70%, #000);
    // height: 100%;
    
}


// Responsive: Mobile  
// ---------------------

@media screen and (max-width: 400px) {
    // .member__container {
    //     border-color: red;
    // }
    .member__card {
        //.unset-masonry();
        //border-bottom: 1px dashed #ccc;
        // box-shadow: 1px 1px 5px rgba(0,0,0,0.2);        

        width: 100%;
        margin: 0 0 1em 0;

    }
}


// Responsive: Tablets 
// ---------------------

@media screen and (min-width: 401px) and (max-width: 768px) {
    // .member__container {
    //     border-color: yellow;
    // }

    .member__card {
        //.unset-masonry();
        
        .grid-span6; // one-half of 12 col grid
        height: 160px;

        margin-bottom: .5em;
    }

    .member__card:nth-child(2n) {
        margin-right: 0;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    // .member__container {
    //     border-color: green;
    // }

    .member__card {
        .unset-masonry();
        

        .grid-span4; // one-third of 12 col grid
        height: 160px;
        //margin-right:5px;

    }

    .member__card:nth-child(3n) {
        margin-right: 0;
    }
}

// Responsive: Large 
// ---------------------

@media screen and (min-width: 1025px) {
    .member__card {
        // width: 22%;
        // height: 160px;

        .grid-span3; // one-fourth of 12 col grid
        
        // overflow: auto; 
    }
}


// Masonry Animations 
// for modern browsers
// ---------------------

.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}