
// vars
@rtMargin:      2.127659574%;    // from grid.less
@memberPadding: 1em;
@cardHeight:    135px;
@gradientEnd:   #efefef;
@roundedCorner: 4px;


.card-style {
    border: 1px solid #F0F0F0;
    border-left-color: #ebebeb;
    border-top-color: #ececec;

    .linear-gradient(#ffffff, #f2f2f2);
}

.unset-card-style {
    border-top: none;
    border-left: none;
    .box-shadow(none);
}

.member__container {
    .clearfix;
    padding: 0; // overrides padding-left: 40px from normalize
}

// why container (extra markup) ?
// ------------------------------
// to create show full description on hover effect, we need an extra container
// that hides extra content, but shows it on hover

.member__card-container {
    list-style-type: none;
    .box-sizing(border-box);

    float: left;
    height: @cardHeight;
    margin: 0 @rtMargin 1em 0;
    
    position: relative;
    overflow: visible;


}

.member__description {
    font-size: .875em;
    line-height: 1.4em;
    margin: .5em 0;
}

.member__card {
    .box-sizing(border-box);
    .border-radius(@roundedCorner);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    // hide extra description text by default
    overflow: hidden;

    // but show it on hover
    &:hover {
        overflow: visible;
        &:before,
        &::before {
            background-image: none;
        }
    }        

    .card-style;
    .box-shadow(1px 1px 2px rgba(0, 0, 0, 0.12));

    &:before,
    &::before {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        right: 0;
        z-index: 1;
        background-image: -webkit-linear-gradient(top, rgba(255,255,255,0) 70%, @gradientEnd);
        content: '';
    }
}
  
.member__inner {    // required because box-model doesn't allow veritcal padding

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: @cardHeight;

    .border-radius(@roundedCorner);

    // default: longer text hidden
    overflow: hidden;

}

.member__card:hover {

    height: auto;

     .member__inner {
        overflow: visible;
        top: -1px;
        left: -1px;
        z-index: 3; // above :before and other cards
        height: auto;

        .card-style;
        .box-shadow(2px 2px 4px rgba(0, 0, 0, 0.13));
     }

     .unset-card-style;

}


// Avatar/Photo
// ---------------------

.member__avatar {
    .border-radius(@roundedCorner);
}
.member__avatar-link {
    display: inline-block;
    float: right;
    margin-top: @memberPadding;
    margin-right: @memberPadding;
    
    // border: 3px solid white;
    // border-radius: 100%;
    // box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.member__avatar-link,
.member__handle-link {
    z-index: 3;
    font-weight: 400;
    text-decoration: none;
}
.member__avatar-link {
    z-index: 3;
    margin-top: @memberPadding;
    margin-left: 1em; // pad profile pictures 
}
.member__name { 
    line-height: 1.3em;
    margin: @memberPadding @memberPadding 0 @memberPadding;
}
.member__handle-link:link,
.member__handle-link:visited {
    color: @mediumGrey;
}
.member__handle-link:hover,
.member__handle-link:active {
  color: rgb(0,168,198);
}

.member__description {
    margin: 1em @memberPadding;
    z-index: -1;
}


// Responsive: Mobile  
// ---------------------

@media screen and (max-width: 400px) {

    .member__card-container {
        width: 100%;
        margin: 0;
        .border-radius(0);
        .box-shadow(none);
        overflow: auto;

        // .member__card,
        // .member__inner {
        //     height: auto;
        //     // overflow: auto;
        //     position: relative;
        //     top: auto;
        //     left: auto;
        // }

    }
}


// Responsive: Tablets 
// ---------------------

@media screen and (min-width: 401px) and (max-width: 768px) {
    .member__card-container {
        .grid-span6; // one-half of 12 col grid
        margin-bottom: .5em;
    }
    .member__card-container:nth-child(2n) {
        margin-right: 0;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .member__card-container {
        .grid-span4; // one-third of 12 col grid
    }
    .member__card-container:nth-child(3n) {
        margin-right: 0;
    }
}

// Responsive: Large 
// ---------------------

@media screen and (min-width: 1025px) {
    .member__card-container {
        .grid-span3; // one-fourth of 12 col grid
    }
    .member__card-container:nth-child(4n) {
        margin-right: 0;
    }
}

