<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Refresh Munich | {{ page.title }}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
  <meta name="Description" content="We are a young community of designers and developers coming together to learn the best of both worlds. Interested in solving aesthetic and logic problems we bundle ideas and refresh our thinking. You should join us!" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

  <script type="text/javascript" src="//use.typekit.net/kwl7tfr.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <link href="/assets/css/styles.css" rel="stylesheet" type="text/css" media="screen">

  <link href="//get.pictos.cc/fonts/1354/9" rel="stylesheet" type="text/css">

  <!--[if lt IE 9]>
    <script src="js/vendor/modernizr.js"></script>
    <style type="text/css">
      body, h1, h2, h3 {
        font-family: Helvetica, Arial, sans-serif;
      }
    </style>
  <![endif]-->

</head>
<body>

  {% include header.html %}

  <div role="main" class="main {{ page.main_class }}">
    {{ content }}
  </div>

  {% include footer.html %}

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-1.7.2.min.js"><\/script>')</script>

  <script type="text/javascript" src="/assets/js/members.js"></script>
  <script type="text/javascript" src="/assets/js/photos.js"></script>
  <script type="text/javascript" src="/assets/js/app.js"></script>


  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29836110-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

</body>
</html>
